$BRAND_COLOR: blue;
$DARK_COLOR: #8326d0;
$sot: #31708e;
$ACCENT_COLOR: RED;
$NEUTRAL_COLOR: GREEN;
$TEXT_COLOR: WHITE;
$BTN_MAIN: PURPLE;
$BTN_MAIN_HOVER: PINK;
$BTN_MAIN_TEXT: BLUE;
$BTN_SECONDARY: GREY;
$BTN_SECONDARY_HOVER: BLACK;
$BTN_SECONDARY_TEXT: WHITE;
$SUCCESS: GREEN;
$ERROR: RED;
$WARNING: YELLOW;

$theme-colors: (
  "primary": red,
  "danger": #ff4136,
);
$body-bg: #000;
$body-color: #111;
